.img {
  margin: 0;
  padding: 0;
  width: 800px;
  height: 250px;
  margin: auto;
  background-image: url('../../../assets/images/contact.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-filter: hue-rotate(180deg);
  filter: hue-rotate(180deg);
  margin-bottom: 25px;
}

.contact {
  text-align: center;
  font-size: bold;
  margin-bottom: 50px;
}

h1 {
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 40px;
}

h2 {
  margin-top: 35px;
  font-size: 40px;
  font-weight: 400;
  color: #868e96;
  text-decoration: none;
}


@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 850px) 
   { 
 
    .img {
      margin: 0;
      padding: 0;
      width: 350px;
      height: 120px;
      margin: auto;
      background-image: url('../../../assets/images/contact.jpg');
      background-size: 100%;
      background-repeat: no-repeat;
      -webkit-filter: hue-rotate(180deg);
      filter: hue-rotate(180deg);
      margin-bottom: 25px;
    }
    
    .contact {
      text-align: center;
      font-size: bold;
      margin-bottom: 50px;
    }
    
    h1 {
      font-size: 50px;
      font-weight: bold;
      margin-bottom: 40px;
    }
    
    h2 {
      margin-top: 35px;
      font-size: 30px;
      font-weight: 400;
      color: #868e96;
      text-decoration: none;
    }
}