<div class="announcments">

  <div class="quote-container">
    <i class="pin"></i>
    <blockquote class="note">
      {{text1}}  <br>
      <i class="{{img1}} fa-7x"></i> 
      <cite class="author">End: 20.7.2090</cite>
    </blockquote>
  </div>

  <div class="quote-container">
    <i class="pin"></i>
    <blockquote class="note">
      {{text2}}  <br>
      <i class="{{img2}} fa-7x"></i> 
      <cite class="author">End: 20.7.2090</cite>
    </blockquote>
  </div>

  
  <div class="quote-container">
    <i class="pin"></i>
    <blockquote class="note">
      {{text3}}  <br>
      <i class="{{img3}} fa-7x"></i> 
      <cite class="author">End: 20.7.2090</cite>
    </blockquote>
  </div>

</div>