.appbar {
  margin: 0;
  height: 90px;
  width: 100%;
  outline: 0;
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-top: 10px;
  outline: none;
  width: 200px;
  height: 45px;
  cursor: pointer;
}

.options {
  display: flex;
}

.button-w-text {
  display: flex;
  flex-direction: column;
  justify-items: center;
  border: 0;
  margin: 15px 5px 0px 0px;
}

.button-w-text p {
  color: white;
  margin-top: none;
  font-weight: bold;
  text-align: center;
  border: 0;

}

button {
  font-size: 40px;
  cursor: pointer;
  background-color: inherit;
  color: white;
  outline: none;
  border: none;
  text-align: center;
  margin-bottom: 0;
  border: 0;

}

button:hover {
  color: gold;
}


.menu-container {
  border-bottom: 2px black solid;
}

.app-menu {
  width: 500px;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  color: #6e6e6e;
  line-height: 35px;
  font-size: 17px;
}

.menu-option {
  cursor: pointer;
  border-bottom: 3px white solid;
  outline: none;
  vertical-align: middle;
}

mat-icon {
  vertical-align: middle;

}

.menu-option:hover {
  cursor: pointer;
  border-bottom: 3px #cccccc solid;
  font-weight: bold;
}

a{
  text-decoration: none;
  color: inherit;
}








@media only screen and (min-device-width: 300px) and (max-device-width: 813px) {
  .appbar {
    justify-content: space-between;
  }

  .logo {
    outline: none;
    width: 50px;
    height: 45px;
    cursor: pointer;
    margin-top:19px;
    margin-left: 0px;
  }

  img {
    width: 150px;
    height: 70px;
    margin-left: 2px;
  }

  .options {
    margin-top: 10px;
    justify-content: space-around;
  }

  .button-w-text {
    margin: 17px 0px 0px 0px;
    font-size: 16px;
  }

  .button-w-text p {
    display: none;
  }

  .app-menu {
    width: 100%;
    margin-top: 10px;
    display: flex;
    color: #6e6e6e;
    line-height: 35px;
    font-size: 13px;
  }
}


/* Desktops and laptops ----------- */
@media only screen and (max-width : 1224px) and (min-width : 500px) {
  .appbar {
    justify-content: space-between;
  }
}
