<div class="banner">
  <img src="../../../assets/images/banner.jpg" alt="banner">
</div>

<div class="announcments">
  <app-announcment text1="50% For First Purchase" img1="fas fa-percentage"
    text2="1000$ Gift Card For Each Friend You Invite" img2="fas fa-gift"
    text3="Liked Us ? Tell Your Friends. Don't Like?  Tell Us " img3="fas fa-thumbs-up">
  </app-announcment>
</div>

<p>*Only registered <span>customers</span> are able to purchase coupons </p>

<div class="CouponsGeneralContainer">
  <app-coupons-by-category category="Food"></app-coupons-by-category>
  <app-coupons-by-category category="Electricity"></app-coupons-by-category>
  <div class="bg">   </div>
  <app-coupons-by-category category="Sport"></app-coupons-by-category>
  <app-coupons-by-category category="Vacation"></app-coupons-by-category>
</div>


<app-contact></app-contact>
