
  <div class="banner">
    All Coupons. One Place.
  </div>


  
<div class="coupons-cateories-images">
  <div class="category food" [routerLink]="[ '/coupons','Food']"> Food</div>
  <div class="category electricity" [routerLink]="[ '/coupons','Electricity']">Electricity</div>
  <div class="category sport" [routerLink]="[ '/coupons','Sport']">Sport</div>
  <div class="category vacation" [routerLink]="[ '/coupons','Vacation']">Vacation</div>
</div>


<div class="hello">
  <ng-container *ngIf="secureService.getIsLoggedIn(); else guest">
    <p>Hi <span> -{{getTitle()}}- 👏</span> </p>
  </ng-container>
  <ng-template #guest>
    <p> Welcome <span class="wave-emoji"> 👋</span> </p>
  </ng-template>
</div>

<div class="notes" *ngIf="!secureService.getIsLoggedIn()">
  <p>*Only registered <span>customers</span> are able to purchase coupons. 
   Not a member yet ? <span class="spanClickHere" [routerLink]="['/register'] "> Click Here </span> </p>
</div>


<div class="couponsGeneralContainer">
  <app-coupons-by-category category="Food"></app-coupons-by-category>
  <app-coupons-by-category category="Electricity"></app-coupons-by-category>
  <app-coupons-by-category category="Sport"></app-coupons-by-category>
  <app-coupons-by-category category="Vacation"></app-coupons-by-category>
</div>







