* {
  box-sizing: border-box;
}

.bg {
  background-image: url('../../../assets/images/reloggBG.jpg');
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.loginFormDiv {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #ccc; /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 400px;
  padding: 10px;
  text-align: center;
}

h1{
  font-size: 80px;
  color: black;
}

.loginForm {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: white;
}

.loginTitle {
  text-align: center;
  font-weight: bold;
}

img {
  width: 70px;
  height: 70px;
  margin: auto;
  margin-top: 15px;
  filter: grayscale(10);
}

.button {
  background: rgb(2, 0, 36);
  border-radius: 50px;
  line-height: 35px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-top: 15px;
  cursor: pointer;
}
.button:disabled,
.button[disabled]{
 color: white;
}

mat-form-field, mat-label{
  color:black;
  font-weight: 15px;
}

h2{
  font-size: 15px;
  margin-top: 5px;
  color: #f4f4f4;
  outline: none;
}
span{
  color: black;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
  outline: none;
}



@media only screen and (min-device-width: 300px) and (max-device-width: 850px) {
 
  .bg {
    background-position: left;
  }
  
  .loginFormDiv {
    position: absolute;
    top: 48%;
    left: 50%;
    width: 300px;
    padding: 20px;
  }
}
