

.text{
margin: 15px 0;
}

h1 ,h3{
  text-align: center;
  font-weight: bold;

}
.registerFormDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;

}

.registerForm {
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.registerTitle {
  text-align: center;
  font-weight: bold;
}

img {
  width: 70px;
  height: 70px;
  margin: auto;
}



.companyReg,
.customerReg {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

mat-label {
  font-weight: bolder;
}

.button {
  background: rgb(2, 0, 36);
  background: linear-gradient(100deg, #87682c -20%, #fcd77e 120%);  
  border-radius: 50px;
  line-height: 35px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-top: 15px;
  cursor: pointer;
}
.button:disabled,
.button[disabled]{
 color: white;
}

mat-form-field, mat-label{
  color:black;
  font-weight: 15px;
}


@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 850px) 
   { 
    .registerForm {
      width: 80%;
    }
}