<div class="bg"></div>

<div class="text">
  <h1>Welcome And Thank You For Your Time !</h1>
  <h3>Please choose which client you are.</h3>
</div>

<div class="registerFormDiv">

  <form class="registerForm">

    <mat-form-field appearance="fill" class="who">
      <mat-label>Who Are You ?</mat-label>
      <mat-select matNativeControl matInput [formControl]="type.get('type')">
        <mat-option value="company">Company</mat-option>
        <mat-option value="customer">Customer</mat-option>
      </mat-select>
      <mat-error *ngIf="type.get('type').hasError('required')">
        Client Type is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <div *ngIf="type.value.type=='company'" class="companyReg">
      <mat-form-field>
        <mat-label> Email</mat-label>
        <input matInput [formControl]="company.get('email')" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="company.get('email').hasError('email') && !company.get('email').hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="company.get('email').hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label> Password</mat-label>
        <input matInput [formControl]="company.get('password')" matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error
          *ngIf="company.get('password').hasError('minlength') && !company.get('password').hasError('required')">
          Please enter a valid password (Minimum length: 4)
        </mat-error>
        <mat-error
          *ngIf="company.get('password').hasError('maxlength') && !company.get('password').hasError('required')">
          Please enter a valid password (Maximum length: 20)
        </mat-error>
        <mat-error *ngIf="company.get('password').hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label> Name</mat-label>
        <input matInput [formControl]="company.get('name')" placeholder="John Doe">
        <mat-error *ngIf="company.get('name').hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <button class="button" mat-button [disabled]="company.invalid || company.disabled" (click)="addCompany()">
        Register
      </button>

    </div>

    <div *ngIf="type.value.type=='customer'" class="customerReg">
      <mat-form-field>
        <mat-label> Email</mat-label>
        <input matInput [formControl]="customer.get('email')" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="customer.get('email').hasError('email') && !customer.get('email').hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="customer.get('email').hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label> Password</mat-label>
        <input matInput [formControl]="customer.get('password')" matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error
          *ngIf="customer.get('password').hasError('minlength') && !customer.get('password').hasError('required')">
          Please enter a valid password (Minimum length: 4)
        </mat-error>
        <mat-error
          *ngIf="customer.get('password').hasError('maxlength') && !customer.get('password').hasError('required')">
          Please enter a valid password (Maximum length: 20)
        </mat-error>
        <mat-error *ngIf="customer.get('password').hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label> First Name</mat-label>
        <input matInput [formControl]="customer.get('first')" placeholder="John">
        <mat-error *ngIf="customer.get('first').hasError('required')">
          First Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label> Last Name</mat-label>
        <input matInput [formControl]="customer.get('last')" placeholder="Doe">
        <mat-error *ngIf="customer.get('last').hasError('required')">
          Last Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <button class="button" mat-button [disabled]="customer.invalid || customer.disabled" (click)="addCustomer()">
        Register
      </button>

    </div>

  </form>

</div>
