.addCompanyDialog {
  padding: 15px;
}

.registerForm {
  width: 20%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

img {
  width: 70px;
  height: 70px;
  margin: auto;
}

.companyReg {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
}
